/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

/* display: grid;
 grid-template-columns: auto auto auto auto;
 grid-template-rows: 400px 400px ; */
.rebecca-center {
  transform: translate(255px);
}
.user-show {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.itinerary {
  text-align: center;
  text-decoration: underline;
}
.itinerary-heading {
  text-align: center;
}
.user-itineraries {
  align-items: center;
}
.itinerary-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button-signup {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  align-items: left;
  justify-content: left;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid black;
}

.button-signup:visited {
  background-color: #bfc9d1;
}

button:visited {
  background-color: #bfc9d1;
}
.button-signup.a {
  background-color: #bfc9d1;
}

.button-signup:hover {
  background-color: #d0c2c2;
}
.button-signup:focus {
  background-color: #d0c2c2;
}

.prof-photo-upload > input {
  display: none;
}
.prof-photo-upload > label {
  cursor: pointer;
}

em {
  font-family: "Montserrat", sans-serif;
}
.yelp-link {
  font-size: 5px;
}
a:hover {
  color: black;
}
a:visited {
  color: black;
}

.index-search-form {
  padding: 50px;
  margin: auto;
  max-width: 600px;
}
.row {
  width: 1500px;
}
.search-form {
  text-align: center;
  left: auto;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 500px;
}

.google-map {
  position: fixed;
  margin-top: 100px;
  left: 600px;
  top: 150px;
}
.button-red:visited {
  background-color: #bfc9d1;
}

button:visited {
  background-color: #bfc9d1;
}
.button-red.a {
  background-color: #bfc9d1;
}

.event-form {
  text-align: center;
  padding-top: 100px;
  padding-left: 200px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "Montserrat", sans-serif;
}
.excursion-show {
  padding-top: 250px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.region-show {
  padding-top: 175px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.panel {
  background-color: #bfc9d1;
}

.grid-container {
  position: relative;
  margin-left: 50px;
  display: grid;
  height: 400px;
  width: 400px;
}

.button-red {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  border: 1px solid black;
}

.button-red:hover {
  background-color: #d0c2c2;
}
.button-red:focus {
  background-color: #d0c2c2;
}

.profile-img {
  text-align: center;
  padding: 10px;
}
.profile-img img {
  width: 70%;
  height: 100%;
}

.show-container {
  position: relative;
  padding: 100px;
}
.itinerary-form {
  text-align: center;
  left: auto;
  padding: 10px;
  margin: auto;
  max-width: 600px;
}
.user-itineraries {
  right: auto;
}
.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.index-tile-font {
  color: white;
  font-family: "Montserrat", sans-serif;
}
a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.review-tile {
  padding: 10px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}
.user-show-text {
  font-family: "Montserrat", sans-serif;
}
.region-picture {
  object-fit: cover;
  object-position: center;
  height: 400px;
  width: 100%;
}
.region-index-page {
  position: relative;
  padding: 50px;
}

.region-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 50%;
  align-items: center;
}

h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f8f8f8;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: "Montserrat", sans-serif;
  background-color: #d0c2c2;
  font-size: 20px;
}

.top-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #d0c2c2;
  /* margin-bottom: 5rem; */
}
.top-bar.title-area.a {
  padding: 10px;
  background: #d0c2c2;
  height: 4rem;
}

.top-bar.section {
  background: #d0c2c2;
  height: 4rem;
}
.scroll {
  height: 1000px;
  overflow: scroll;
}
#region-index-heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.excursion-tile-wrapper {
  position: relative;
  height: 400px;
  width: 400px;
}
.excursion-tile {
  padding: 20px;
}

.region-name {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.region-index-heading {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.region-index-tile {
  height: 500px;
  border: 2px;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}

/* .region-index-tile {
  width: 50%;
}

.region-index-tile:after {
  display: block;
  padding-bottom: 100%;
} */

.region-show {
  padding: 50px;
  margin: auto;
}
.user-form {
  padding: 10px;
  margin: auto;
  max-width: 600px;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.selection-form {
  display: inline-block;
  text-align: center;
  align-items: center;
}
