<h2 id="region-index-heading"> Regions </h2>

  <%@regions.each do |region|%>
  <div class="region">
  <div class="region-index-tile small-4 columns">
    <div class="region-image">
      <img src= "<%=region.image%>" />
    </div>
    <div class="region-index-name">
      <h3>
        <%= link_to region.name, region_path(region)%>
      </h3>
    </div>
  </div>
  </div>
  <%end%>
