
<div class="index-search-form">
  <div id="app">
  </div>
  </div>



<div class="region-index-page">
<h2 class="region-index-heading"> Browse by Region </h2>
<%@regions.each do |region|%>
<%=link_to region_path(region) do%>
<div class="region">
  <div class="region-index-tile small-4 columns">
    <div class="hvrbox">
      <img src= "<%=region.image%>" class="hvrbox-layer_bottom region-picture"/>
      <div class="hvrbox-layer_top">
        <div class="hvrbox-text">
          <h3 class="region-name">
            <%=region.name%>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
<%end%>
</div>
